*{
    box-sizing: border-box;
}

body{
    max-width:1200px;
    margin:20px auto;
    padding:0 20px;
}

h1,h2{
    color:#333;
    margin:0;
    padding:0;
}

h2{

}

nav{
    text-transform:uppercase;

    display:flex;
    justify-content:space-between;

    border-bottom:1px solid #ccc;

    margin-bottom:60px;
    padding-bottom: 10px;
}

nav div a{
    text-decoration:none;
    font-size: 30px;
    font-weight: bold;
}

nav ul{
    display:flex;
    justify-content:space-between;
}

nav ul li{
    list-style:none;
    margin-left:20px;
}

nav ul li a{
    color:#777;
    text-decoration:none;
}

.content{
    margin-left: 30px;
}

.content form{
    max-width: 500px;
    margin: 0 auto;
}

.content form input,.content form textarea{
    display:block;
    width:100%;

    margin:10px 0;
    padding:6px;
}

.content form textarea{
    height:150px;
}

.content form button{
    background-color:steelblue;
    color:#ffff;
    font-size:14px;
    border:none;
    cursor:pointer;

    margin-top:20px;
    padding:6px 10px;
}

footer{
    color:#777;
    text-align:center;
    margin:80px auto 20px;
}

