<nav>
    <div>
        <a href="/"> Home Page</a>
    </div>
    <ul>
        <li><a href="/" >Home</a></li>
        <li><a href="/about" >About</a></li>
        <li><a href="/posts/create" >Create</a></li>
    </ul>
</nav>

