<!DOCTYPE html>
<html>
<head>
    <title>EJS Exercise</title>
</head>
<body>

    <h1>Profile page</h1>
    <ul>
        <li>Name : <%= user.name %> </li>
        <li>Age : <%= user.age %> </li>
        <li>City : <%= user.city%> </li>
    </ul>

</body>
</html>

